<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="saludo.html">saludo</a>
        </nav>
    </header>
    <main>
    <section class="flexcont" >
        <h1>Saludame</h1>
        <form >
            <input type="text">
            <a href="bienvenida.html"> <input type="button" ></a> 
        </form>
        <a class="inp1" href="saludosrecientes.html">saludos recientes</a>
    </section>
    </main>
    <footer>
        &copy; <em id="date"></em>Copyright
      </footer>
</body>

</html>